@model IEnumerable<TCRS.Web.ViewModels.ClassTimeTypeViewModel.ClassTimeTypeIndexViewModel>

@{
    ViewData["Title"] = "فهرست";
}

<h3>زمان برگزاری کلاس</h3>

<p>
    <a asp-action="Create" class="btn btn-primary">افزودن</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassTimeTypeTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassTimeTypeTitle)
                </td>
                <td>
                    @if (item.IsActive)
                    {
                        <a class="btn btn-warning btn-sm">فعال</a>
                    }
                    else
                    {
                        <a class="btn btn-outline-warning btn-sm">غیرفعال</a>
                    }
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-outline-primary btn-sm" asp-route-id="@item.TypeID">ویرایش</a>
                </td>
            </tr>
        }
    </tbody>
</table>
