@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @*<li class="nav-item">
            <a class="nav-link text-dark btn btn-outline-success"  title="Manage">سلام @User.Identity.Name!</a>
        </li>*@
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout"  method="post">
                <button type="submit" class="nav-link text-dark btn btn-outline-primary">خروج</button>
            </form>
        </li>
    }
    else
    {
        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Accounts/Register">ثبت نام</a>
        </li>*@
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-outline-primary" asp-controller="Account"  asp-action="Login">ورود به سامانه</a>
        </li>
    }
</ul>
